<div class="page-content-wrapper">
    <block-ui>
        <ol class="breadcrumb">
            <li><a href="#">Lançamentos</a></li>
            <li class="active">Consulta</li>
        </ol>    
        <div class="col col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-default  glyphicon glyphicon-chevron-left" (click)="filtrarAnterior()"></button>
                                <label class="text-info">{{exibeMesAnoAtual()}}</label>
                                <button class="btn btn-default glyphicon glyphicon-chevron-right" (click)="filtrarProximo()"></button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        <table class="table table-striped table-hover table-bordered">
                            <tbody>
                                <tr *ngFor="let resumo of resumos" (click)="filtrarLancamentos(resumo.filtro)">
                                    <td>{{resumo.nome}}</td>
                                    <td>
                                        <a href="javascript:void(0)"
                                          (click)="filtrarLancamentos(resumo.filtro)">{{resumo.valor|moeda}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            
                </div>
        </div>
        
        <div class="col col-md-9 col-lg-9 col-xs-12">
           <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-default" (click)="filtrar()">
                        <i class="glyphicon glyphicon-filter"></i> Listar Tudo</button> 

                    <button type="button" id='btnBaixa' class="btn btn-default" (click)="baixarLista()"  [disabled]="mesFechado" data-loading-text="Baixando Lançamento..." autocomplete="off">
                            <i class="glyphicon glyphicon-ok"></i> Baixar Marcados</button>
                    
                    <button type="button" class="btn btn-default" (click)="novoCadastro()"  [disabled]="mesFechado">
                                    <i class="glyphicon glyphicon-plus"></i> Novo Lançamento</button>

                    <button type="button" class="btn btn-default" (click)="fecharMes()" [disabled]="mesFechado">
                        <i class="glyphicon glyphicon-close"></i> Fechar Mês</button>

                </div>
                
                <div class="panel-body">
                    <div class="row">
                        <label class="col-md-8">Retornados {{listagem.length}} Registros</label>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <th>&nbsp;</th>
                                <th *ngFor="let col of colunas; let i=index">
                                    <span text-center>{{col}}</span>
                                </th>
                                <th colspan="2" class="text-center" *ngIf="!mesFechado">
                                    Ações
                                </th>
                            </thead>
             
                            <tbody id="tbody">
                                <tr *ngFor="let item of listagem; let indice=index" id="{{item.id}}">
                                    <td>
                                        <a class="glyphicon glyphicon-plus-sign" *ngIf="item.lancamentosUtilizados && !controleExibicao[item.id]" (click)="exibeLancamentos(item)" ></a>
                                        <a class="glyphicon glyphicon-minus-sign" *ngIf="item.lancamentosUtilizados && controleExibicao[item.id]" (click)="exibeLancamentos(item)" ></a>
                                    </td>
                                    
                                    <td>{{item.dataVencimentoStr}} </td>
                                    <td>{{item.descricao}}</td> 
                                    <td>{{item.valorCreditoStr}}</td> 
                                    <td>{{item.valorDebitoStr}}</td> 
                                    <td><i class="glyphicon glyphicon-thumbs-up" *ngIf="item.bolPaga"></i></td> 
                                    <td>{{item.numDocumento}}</td> 
                                    <td>{{item.descFormaPagamento}}</td>
                                    <td *ngIf="!mesFechado">
                                        <i class="glyphicon glyphicon-edit ponteiro-maozinha"  (click)="editar(item, indice)"></i>
                                        <i class="glyphicon glyphicon-trash ponteiro-maozinha" (click)="excluirLancamento(item, indice)"></i>
                                        <i class="glyphicon glyphicon-scissors ponteiro-maozinha" (click)="abrirUtilizacaoLancamento(item)"></i>
                                    </td>
    
                                </tr>
                                
                            </tbody>
            
                        </table>
                    </div>
                </div>    
            </div>            
        </div>
    </block-ui>
</div>

