<div class="page-content-wrapper">
    <block-ui>
        <ol class="breadcrumb">
            <li><a href="#">Lançamentos</a></li>
            <li class="active">Consulta</li>
        </ol>    
        <div class="col col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button class="btn btn-default  glyphicon glyphicon-chevron-left" (click)="filtrarAnterior()"></button>
                                <label class="text-info">{{exibeMesAnoAtual()}}</label>
                                <button class="btn btn-default glyphicon glyphicon-chevron-right" (click)="filtrarProximo()"></button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        <table class="table table-striped table-hover table-bordered">
                            <tbody>
                                <tr *ngFor="let resumo of resumos" (click)="filtrarLancamentos(resumo.filtro)">
                                    <td>{{resumo.nome}}</td>
                                    <td>
                                        <a href="javascript:void(0)"
                                          (click)="filtrarLancamentos(resumo.filtro)">{{resumo.valor|moeda}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                            
                </div>
        </div>
        
        <div class="col col-md-9 col-lg-9 col-xs-12">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="btn btn-default" (click)="filtrar()">
                                <i class="glyphicon glyphicon-filter"></i> Listar Tudo</button> 

                            <button type="button" id='btnBaixa' class="btn btn-default" (click)="baixarLista()"  [disabled]="mesFechado" data-loading-text="Baixando Lançamento..." autocomplete="off">
                                    <i class="glyphicon glyphicon-ok"></i> Baixar Marcados</button>
                            
                            <button type="button" class="btn btn-default" (click)="novoCadastro()"  [disabled]="mesFechado">
                                            <i class="glyphicon glyphicon-plus"></i> Novo Lançamento</button>

                            <button type="button" class="btn btn-default" (click)="fecharMes()" [disabled]="mesFechado">
                                <i class="glyphicon glyphicon-close"></i> Fechar Mês</button>
    
               </div>
              </div>
                
                    
            <app-crud-componente #crudComponente [nomesColunas]="colunas" 
                    [listaDados]="listagem" 
                    [tamanhoListagem]="tamanhoListagem"
                    [atributosColunas]="atributos"
                    [exibeAcoes]="! mesFechado"
                    [exibeExcluir]="true"
                    [exibeEditar]="true"
                    [listaAcoes]="listaAcoes"
                    [exibeCheckboxes]="! mesFechado"
                    [exibeFiltroColuna]="false"
                    (onExcluir)="excluir($event)"
                    (onEditar)="editar($event)" >
            </app-crud-componente>
        </div>
    </block-ui>
</div>

