<app-loading [display]="isLoadingResults || isSendAction"></app-loading>
<mat-card>
  <app-content-header title="Rubricas" [selection]="selection">
    <button mat-icon-button *ngIf="!selection.isEmpty()"
            (click)="onRemove(selection.selected[0])"
            matTooltip="Excluir">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="onAdd()">
        <mat-icon>add</mat-icon>
        <span>Incluir Novo</span>
      </button>
    </mat-menu>
  </app-content-header>

  <mat-card-content class="card-content-list">
    <mat-table #table [dataSource]="dataSource" class="configuration-table" *ngIf="!isLoadingResults"
               matSort matSortActive="created"
               matSortDisableClear
               matSortDirection="asc">

      <!-- Name Column -->
      <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef>Nome da Rubrica</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.descricao }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="descTipoConta">
        <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.descTipoConta }}</mat-cell>
      </ng-container>      


      <ng-container matColumnDef="despesa">
        <mat-header-cell *matHeaderCellDef>Despesa?</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.despesa }}</mat-cell>
      </ng-container>  
      

      <ng-container matColumnDef="dataCadastroStr">
        <mat-header-cell *matHeaderCellDef>Data de Cadastro</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.dataCadastroStr }}</mat-cell>
      </ng-container>        

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef [style.text-align]="'center'" fxFlex="180px">Ações</mat-header-cell>
        <mat-cell *matCellDef="let row" [style.text-align]="'center'" fxFlex="180px">
          <button mat-icon-button (click)="onRemove(row)" matTooltip="Excluir">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-icon-button (click)="onEdit(row)" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></mat-row>
    </mat-table>


    <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageIndex]="pageIndex"></mat-paginator>
  </mat-card-content>
</mat-card>
