label.obrigatorio:after { 
    content:""; 
    background: url("../img/icone-obrigatorio.gif") repeat-x center center;  
    width:5px; 
    height: 5px; 
    margin:5px 5px 0 5px ; 
    position: absolute; 
}

.centralizar { height: 350px; margin: 5% auto 0; position: relative; width: 50%; }


.conteudo { margin: 10px; padding:5px; border: 1px solid #C0C0C0; min-height: 50%;  box-shadow: 5px 5px 5px #ccc; }

.centralizar .conteudo { margin-bottom: 10px; padding:10px; border: 1px solid #C0C0C0; min-height: 50%;  box-shadow: 5px 5px 5px #ccc; }

.borda {
    border: 1px 1px 1px 1px

}

.largura-maxima {
    width: 100%
}

.ponteiro-maozinha {
    cursor:pointer;
    }

.header { width: 100%; box-shadow: 5px 5px 5px #ccc; }    