label.obrigatorio:after { 
    content:""; 
    background: url("../img/icone-obrigatorio.gif") repeat-x center center;  
    width:5px; 
    height: 5px; 
    margin:5px 5px 0 5px ; 
    position: absolute; 
}

.centralizar { height: 350px; margin: 5% auto 0; position: relative; width: 50%; vertical-align: middle }


.conteudo { margin: 10px; padding:5px; border: 1px solid #C0C0C0; min-height: 50%;  box-shadow: 5px 5px 5px #ccc; }

.centralizar .conteudo { margin-bottom: 10px; padding:10px; border: 1px solid #C0C0C0; min-height: 50%;  box-shadow: 5px 5px 5px #ccc; }

.borda {
    border: 1px 1px 1px 1px

}

.largura-maxima {
    width: 100%
}

.ponteiro-maozinha {
    cursor:pointer;
    }

.borda-redonda {border-radius: 25px }

.sombra {box-shadow: 1px 1px 5px #ccc; }

.header { width: 96.6%; box-shadow: 1px 1px 5px #ccc; }    

.nome-sistema {
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    font-style: oblique;
    font-family:fantasy;
    font-size: 32px
}

.sistema-mensagem {
    color: #C0C0C0; 
    font-style: oblique;
    font-family:fantasy;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.detalhe-sistema {
    text-align: right;
    color: #C0C0C0; 
    font-style: oblique;
    font-family:fantasy;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.logo-sistema {
    background: url("../img/logo-walltec.png") repeat-x center center;  
}

@media (max-width: 1024px) {  
    .detalhe-sistema {
        display: none
    }

    .centralizar { height: 350px; margin: 5% auto 0; position: relative; width: 90%; }

    .conteudo {
        width: 100%
    }

    .sistema-mensagem {
        color: #C0C0C0; 
        font-style: oblique;
        font-family:fantasy;
        text-shadow: black 0.1em 0.1em 0.2em;
        margin-top: 12.5%;
        margin-bottom: 12.5%
    }    
}

.subtabela {
    background-color: #fff;
}

.fonte-destacada {
    background-color: #ddd
}

.classPago {
    background-color: lightsalmon !important
}

.classRecebido {
    background-color: lightblue !important
}
