<div class="container-fluid">
    <form name="frmArquivo" novalidate enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>Parâmetros</legend>
                <div class="row">
                        <div class="col col-md-2">
                            <label for="banco">Banco</label>
                            <select id="banco" class="form-control">
                                <option value="1" selected>Banco do Brasil</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <label for="database">Data-base dos Lançamentos</label>
                            <input type="text" id="database" name="databaseFiltro" class="form-control" #database [(ngModel)]="databaseFiltro">
                        </div>
                        <div class="col col-md-6">
                            <label for="arquivo">Arquivo</label>
                            <input id="arquivo"  class="btn btn-default file" name="arquivo" #arquivo type="file" placeholder="Selecione um arquivo" (change)="onFileChange($event)">
                        </div>
                        <div class="col col-md-2">
                                <label for="arquivo">processar</label>
                                <button class="btn btn-primary" id="btnIniciar" (click)="efetuarUpload()">Processar</button>
                        </div>
                </div>
        </fieldset>
    </form>
    <block-ui>
        <!-- Nav tabs -->
        <div class="tab-content">
            <div  role="tabpanel" class="tab-pane fade in active" id="extrato">
                    <div class="col col-md-12">
                        <app-crud-componente [nomesColunas]="colunasPadrao"
                                    [listaDados]="listagemExtrato"
                                    [exibeCheckboxes]="true"
                                    [tamanhoListagem]="tamanhoExtrato"
                                    [totalizadores]="atributosTotalizadoresExt"
                                    [exibeTotalizadores]="true"
                                    [atributosColunas]="atributosExtrato">
                        </app-crud-componente>
                    </div>
                    <div class="row">
                        <div class="col col-md-4 col-md-offset-4">
                            <button class="btn btn-primary" id="btnAssociar" (click)="associarExtratoLancamento()">Associar Marcados</button>
                        </div>
                    </div>
            </div>
        </div>
    </block-ui>
</div>