<div class="container-fluid">
    <form name="frmArquivo" novalidate enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>Parâmetros</legend>
                <div class="row">
                        <div class="col col-md-2">
                            <label for="banco">Banco</label>
                            <select id="banco" class="form-control">
                                <option value="1" selected>Banco do Brasil</option>
                            </select>
                        </div>
                        <div class="col col-md-2">
                            <label for="database">Data-base dos Lançamentos</label>
                            <input type="text" id="database" name="databaseFiltro" class="form-control" #database [(ngModel)]="databaseFiltro">
                        </div>
                        <div class="col col-md-6">
                            <label for="arquivo">Arquivo</label>
                            <input id="arquivo"  class="btn btn-default file" name="arquivo" #arquivo type="file" placeholder="Selecione um arquivo" (change)="onFileChange($event)">
                        </div>
                        <div class="col col-md-2">
                                <label for="arquivo">processar</label>
                                <button class="btn btn-primary" id="btnIniciar" (click)="efetuarUpload()">Processar</button>
                        </div>
                </div>
        </fieldset>
    </form>
    <block-ui>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" *ngIf="tamanhoExtrato &gt; 0 || tamanhoConciliados &gt; 0">
            <li role="presentation" class="active"><a href="#extrato" aria-controls="extrato" role="tab" data-toggle="tab">Extrato x A Conciliar</a></li>
            <li role="presentation"><a href="#conciliados" aria-controls="conciliados" role="tab" data-toggle="tab">Conciliados</a></li>
            <li role="presentation"><a href="#extrato-conciliados" aria-controls="extrato-conciliados" role="tab" data-toggle="tab">Extrato x Conciliados</a></li>
        </ul>
        <div class="tab-content">
            <div  role="tabpanel" class="tab-pane fade in active" id="extrato">
                    <div class="col col-md-6">
                        <app-crud-componente [nomesColunas]="colunasPadrao"
                                    [listaDados]="listagemExtrato"
                                    [exibeCheckboxes]="true"
                                    [tamanhoListagem]="tamanhoExtrato"
                                    [totalizadores]="atributosTotalizadoresExt"
                                    [exibeTotalizadores]="true"
                                    [atributosColunas]="atributosExtrato">
                        </app-crud-componente>
                    </div>
                    <div class="col col-md-6">
                        <app-crud-componente #listaNaoConciliados [nomesColunas]="colunasNaoConciliados"
                                    [listaDados]="listagemNaoConciliados"
                                    [exibeCheckboxes]="true"
                                    [tamanhoListagem]="tamanhoNaoConciliados"
                                    [totalizadores]="atributosTotalizadoresNConc"
                                    [exibeTotalizadores]="true"
                                    [atributosColunas]="atributosNaoConciliados">
                        </app-crud-componente>
                    </div>
                    <div class="row">
                        <div class="col col-md-4 col-md-offset-4">
                            <button class="btn btn-primary" id="btnAssociar" (click)="associarExtratoLancamento()">Associar Marcados</button>
                        </div>
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="conciliados">
                <app-crud-componente [nomesColunas]="colunasConciliados"
                        [listaDados]="listagemConciliados"
                        [tamanhoListagem]="tamanhoConciliados"
                        [totalizadores]="atributosTotalizadoresConc"
                        [exibeTotalizadores]="true"
                        [atributosColunas]="atributosConciliados">
                </app-crud-componente>
            </div>
            <div role="tabpanel" class="tab-pane" id="extrato-conciliados">
                    <div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <th *ngFor="let col of colunasVerificacao">
                                        <span text-center>{{col}}</span>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let item of listagemVerificacao.slice( (paginaVerificacao-1)*5, (paginaVerificacao)*5); let indice=index" id="linha_{{indice}}" >
                                        <td>
                                           <span *ngIf="item.listaLancamentos.length &gt; 0"><a href="javascript:void(0)" (click)="visualizarLancamentos(item, indice)">(+)</a></span>
                                           <span *ngIf="item.listaLancamentos.length == 0">&nbsp;</span>
                                        </td>
                                        <td *ngFor="let campo of atributosExtratoVerificacao">
                                            <span>{{item[campo]}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col col-md-12 text-center">
                            <ngb-pagination [collectionSize]="tamanhoVerificacao" [pageSize]="5" [ellipses]="true" [maxSize]="3"
                            [(page)]="paginaVerificacao" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                        </div>
            </div>
        </div>
    </block-ui>
</div>