<div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Geração de Lançamentos</div>
            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist" >
                    <li role="presentation" class="active"><a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados básicos</a></li>
                    <li role="presentation"><a href="#parcial" aria-controls="parcial" role="tab" data-toggle="tab">Resultado Parcial</a></li>
                    <li role="presentation"><a href="#final" aria-controls="final" role="tab" data-toggle="tab">Resultado Final</a></li>
                </ul>

                <div class="tab-content">
                    <!--aba de dados para informação da geração dos lançamentos-->
                    <div role="tabpanel" class="tab-pane fade in active" id="dados">
                        <form name="frmGeracao" novalidate >
                                <div class="col col-md-6">
                                    <label for="banco" class="obrigatorio">Rubrica</label>
                                    <input type="text" [(ngModel)]="rubricaSelecionada" class="form-control" id="rubrica" name="rubrica" 
                                    list="listaRubricas">
                                    <datalist id="listaRubricas">
                                        <select>
                                            <option  *ngFor="let r of listaRubricas" value="{{r.descricaoCombo}}"></option>
                                        </select>
                                    </datalist> 
                                </div>
                                <div class="col-md-2">
                                    <label for="vencimento" class="obrigatorio">Vencimento Base</label>
                                    <input type="text"  class="form-control" #dataVencimento>
                                </div>
            
                                <div class='col-md-2'>
                                    <label for="quantidade" class="obrigatorio">Quantidade</label>
                                    <input type="number" id="quantidade" name="quantidade" class="form-control" [(ngModel)]="quantidade">
                                </div>
            
                                <div class='col-md-2'>
                                    <label for="valor" class="obrigatorio">Valor</label>
                                    <input type="text" id="valor" class="form-control" #valorStr
                                    onkeypress="moeda(this);"
                                    onkeyup="moeda(this);">
                                </div>
                            
                                <div class="col-md-8">
                                    <label class="obrigatorio">Descrição</label>
                                    <input type="text" class="form-control" [(ngModel)]="descricao" name="descricao">
                                </div>
                            
                                <div class="col-md-4">
                                    <label>Modo de geração</label>
                                    <div class="form-control">
                                        <input type="radio" class="radio-inline" name="parcial" value="S" checked [(ngModel)]="bolParcial">Somente visualizar
                                        <input type="radio" class="radio-inline" name="parcial" value="N" [(ngModel)]="bolParcial">Efetivar a geração
            
                                    </div>
                                </div>
            
                            <button class="btn btn-default center-block" (click)="gerarLancamentos()">Gerar Lançamentos</button>
                        </form>
                    </div>

                    <!--aba de com o resultado da geraçaõ (parcial)-->
                    <div role="tabpanel" class="tab-pane fade" id="parcial">
                        <div class="panel panel-default" >
                            <div class="table-responsive">
                                <app-crud-componente #crudComponente [nomesColunas]="colunas" 
                                            [listaDados]="listagem" 
                                            [tamanhoListagem]="tamanhoListagem"
                                            [atributosColunas]="atributos"
                                            [exibeTotalizadores]="true"
                                            [totalizadores]="totalizadores">
                                </app-crud-componente>
                            </div>
                        </div>
                    </div>

                    <!--aba dos dados gerados sendo exibidos por rubrica-->
                    <div role="tabpanel" class="tab-pane fade" id="final">
                        <p>Resultado por rubrica</p>
                    </div>                        
                </div>

            </div>
        </div>
</div>