<div class="modal-dialog">
    <div class="modal-content container-fluid" >
        <div class="modal-header">
            <button type="button" class="close" (click)="close()" >&times;</button>
            <h4>Gerar Novo Lançamento</h4>
        </div>
        
        <div class="modal-body">
            <block-ui>
                <form class=" form-group">
                    <div class="row">
                        <div class="col col-md-12 col-xs-12 col-lg-12">
                            <label for="rubrica"  class="obrigatorio">Rubrica</label>                
                            <input type="text" [(ngModel)]="rubricaSelecionada" class="form-control" id="rubrica" name="rubrica" list="listaRubricas"
                                (change)="acaoSelecaoRubrica()">
                        </div>
                        <datalist id="listaRubricas">
                            <select>
                                <option  *ngFor="let r of listaRubricas" value="{{r.descricaoCombo}}"></option>
                            </select>
                        </datalist>                    
                    </div>

                    <div class="row">
                        <div class="col col-md-8 col-xs-12 col-lg-8 ">
                                <label for="descricao" class="obrigatorio">Descrição</label>                
                                <input type="text" class="form-control" id="descricao"
                                    [(ngModel)]="lancamento.descricao"
                                maxlength="50" required name="descricao">
                        </div>

                        <div class="col col-md-4 col-xs-12 col-lg-4">
                                <label for="bolPaga">Pago?</label>                
                                <input type="checkbox" class="checkbox" 
                                    [(ngModel)]="lancamento.bolPaga" [disabled]="estaPago"
                                maxlength="50"  name="bolPaga">
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col col-md-4 col-xs-12 col-lg-4">
                            <label for="dataUtilizacao"  class="obrigatorio">Data Vencimento</label>                
                            <input type="text" class="form-control" #dataVencimento id="dataVencimento" name="dataVencimento">
                        </div>
                        <div class="col col-md-4 col-xs-12 col-lg-4">
                                <label for="valorStr" class="obrigatorio">Valor</label>                
                                <input type="text" class="form-control"  
                                name="valorStr"
                                #valorStr
                                onkeypress="moeda(this);"
                                onkeyup="moeda(this);"                                 
                                >
                        </div>
                        <div class="col col-md-4 col-xs-12 col-lg-4">
                                <label for="numDocumento">Documento</label>                
                                <input type="text" class="form-control"  
                                name="numDocumento"
                                [(ngModel)]="lancamento.numDocumento">
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col col-md-8 col-xs-12 col-lg-8">
                            <label for="habilitaDataFim">Deseja repetir esse lançamento?</label>
                            <label class="radio-inline" class="form-control">
                                    <input type="radio" name="habilitaDataFim" value="S" [checked]="habilitaDataFim" (change)="controlaDataFim($event)">SIM
                                    <input type="radio" name="habilitaDataFim" value="N" [checked]="!habilitaDataFim"  (change)="controlaDataFim($event)">NÃO
                            </label>                            
                        </div>

                        <div class="col col-md-4 col-xs-12 col-lg-4">
                            <label for="dataFim"  class="obrigatorio">Data Final</label>                
                            <input type="text" [disabled]="!habilitaDataFim" class="form-control" #dataFim id="dataFim" name="dataFim">
                        </div>
                    </div>
                    
                    <hr>
                    <div class="row block-center">
                        <button class="btn btn-primary col col-md-4 col-xs-12 col-lg-4 col-lg-offset-1" (click)="salvar()">Salvar</button>
                        <button class="btn btn-primary col col-md-4 col-xs-12 col-lg-4 col-lg-offset-1" (click)="close()">Cancelar</button>
                    </div>
                </form>
            </block-ui>
        </div>
</div>    

