<app-loading [display]="isLoading"></app-loading>
<mat-card>
  <app-content-header title="Geração de Lançamentos">
  </app-content-header>

  <mat-tab-group [selectedIndex]="indiceAtivo">
    <mat-tab label="Parâmetros" [disabled]="indicesDesabilitados[0]">

        <form [formGroup]="form"  (ngSubmit)="onGerarParcial()">
          <div fxLayout="column" fxLayoutAlign="start">
            <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5px">
      
              <mat-form-field fxFlex="50">
                  <mat-select placeholder="Rubrica" aria-label="nome" formControlName="idConta">
                    <mat-option *ngFor="let option of listaRubricas" [value]="option.id">
                      {{ option.descricao }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.controls['idConta'].errors?.required">
                      Selecione uma rubrica!
                  </mat-error>              
              </mat-form-field>
      
              <mat-form-field fxFlex="20">
                <input placeholder="Data Inicial" matInput [matDatepicker]="dataVencimentoStr" formControlName="dataVencimentoStr">
                <mat-datepicker-toggle matSuffix [for]="dataVencimentoStr"></mat-datepicker-toggle>
                <mat-datepicker #dataVencimentoStr></mat-datepicker>
                <mat-error *ngIf="form.controls['dataVencimentoStr'].errors?.required">
                    Informe a data de vencimento inicial
                </mat-error>  
              </mat-form-field>
          
              <mat-form-field fxFlex="10">
                  <input placeholder="Quantidade" type="number" matInput formControlName="quantidade">
                  <mat-error *ngIf="form.controls['quantidade'].errors?.required">
                      Preencha a quantidade!
                  </mat-error> 
                  <mat-error *ngIf="form.controls['quantidade'].errors?.min">
                      Informe um valor maior ou igual a 1.
                  </mat-error> 
              </mat-form-field>
      
              <mat-form-field fxFlex="15">
                  <input placeholder="Valor" matInput formControlName="valorVencimento">
                  <mat-error *ngIf="form.controls['valorVencimento'].errors?.required">
                        Informe um valor para os lançamentos.
                    </mat-error> 
              </mat-form-field>        
      
              <mat-form-field fxFlex>
                  <input placeholder="Descrição" matInput formControlName="descricaoParcela">
                  <mat-error *ngIf="form.controls['descricaoParcela'].errors?.required">
                        Informe a descrição para os lançamentos
                    </mat-error> 
              </mat-form-field>  
   
            </div>
      
          </div>
      
          <div fxLayout="row" fxLayoutAlign="flex-end">
              <div class="app-margin-right">
                  <button mat-raised-button  type="submit">Gerar parcial</button>
              </div>
            </div>    
        </form>
    </mat-tab>

    <mat-tab label="Resultado Parcial" [disabled]="indicesDesabilitados[1]">
            <button mat-raised-button  type="button" (click)="habilitarTab(0)" >Refazer Parâmetros</button>
            <button mat-raised-button  type="button" (click)="habilitarTab(2)">Concluir</button>
    </mat-tab>

    <mat-tab label="Conclusão" [disabled]="indicesDesabilitados[2]">
        <button mat-raised-button  type="button" (click)="habilitarTab(0)">Nova Geração</button>
    </mat-tab>
        
  </mat-tab-group>

</mat-card>

