<div class="container-fluid">
  <block-ui> 
     <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 panel panel-default">
            <canvas baseChart
               [data]="despesasReceitasMes"
               [labels]="despesaReceitasMesLabel"
               [chartType]="pieChart"
               [options]="pieDespRecOptions"
               [legend]="exibeLegenda"      
               (chartHover)="chartHovered($event)"
               (chartClick)="chartClicked($event)"></canvas>
       </div>

       <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 panel panel-default">
            <canvas baseChart
            [data]="aReceberPagarData"
            [labels]="aReceberPagarMesLabel"
            [legend]="exibeLegenda"      
            [options]="pieRecPagOptions"                     
            [chartType]="pieChart"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>

    <!-- <div class="row" style="margin-top: 30px">
        <div class="col-md126 col-xs-12 col-sm-12 col-lg-12 panel panel-default">
            <canvas baseChart
            [data]="despTipoContaData"
            [labels]="despTipoContaLabel"
            [chartType]="lineChartType"
            [options]="tipoContaMesOptions"              
            [legend]="exibeLegenda"               
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
      -->
  </block-ui>
</div>    

