<div id="wrapper">

    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li>
                    <a href="http://www.walltec.net.br" target="_blank"><span class="fa fa-home solo">walltec.net.br</span></a>
                </li>
                <li>
                    <a (click)="logout()" data-scroll>
                        <span class="fa fa-anchor solo  ponteiro-maozinha">Sair</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard']" data-scroll>
                        <span class="fa fa-anchor solo">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/rubricas']"  data-scroll>
                        <span class="fa fa-anchor solo">Rubricas</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/lancamentos-geracao']"  data-scroll>
                        <span class="fa fa-anchor solo">Geração de Lançamentos</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/conciliacoes']"  data-scroll>
                        <span class="fa fa-anchor solo">Conciliações</span>
                    </a>
                </li>
                <li>
                        <a  [routerLink]="['/lancamentos']"  data-scroll>
                            <span class="fa fa-anchor solo">Lançamentos</span>
                        </a>
                    </li>
                </ul>
        </nav>
    </div>

    <div id="page-content-wrapper">
        <div class="content-header">
            <h1 id="home" class="header">
                <a id="menu-toggle" class="glyphicon glyphicon-align-justify btn-menu toggle ponteiro-maozinha" onclick="toggleMenu(event)" >
                    <i class="fa fa-bars"></i>
                </a>
                <span class="left-block">Sysfinanc 6.0</span>
                <span class="right-block">Sistema de Controle Financeiro</span>
            </h1>
        </div>

        <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
