<div id="wrapper">

    <div id="sidebar-wrapper" class="borda-redonda">
        <nav id="spy">
                <div class="sidebar-nav nav list-group">
                        <a href="javascript:void(0)">
                            <span class="nome-sistema">Walltec</span>
                        </a>

                        <!-- <a class="list-group-item disabled" (click)="toggleSubMenu('subMenuCadastros', 'iconeCadastros')">
                            <span class="glyphicon glyphicon-plus-sign" id="iconeCadastros"></span>
                                Cadastros
                        </a>  

                        <div  class="hidden" id="subMenuCadastros" >
                            <a  [routerLink]="['/rubricas']" class="list-group-item" data-scroll >
                                <span>Rubricas</span>
                            </a>
                        </div> -->

                        <a class="list-group-item disabled" (click)="toggleSubMenu('subMenuLancamentos', 'iconeLancamentos')">
                            <span class="glyphicon glyphicon-plus-sign" id="iconeLancamentos"></span>
                            Lançamentos
                        </a>  

                        <div id="subMenuLancamentos" class="hidden">
                            <a  [routerLink]="['/lancamentos-geracao']" class="list-group-item" data-scroll>
                                <span>Geração</span>
                            </a>
                            <a  [routerLink]="['/conciliacoes']" class="list-group-item" data-scroll>
                                <span>Conciliações</span>
                            </a>    
                            <a  [routerLink]="['/lancamentos']" class="list-group-item" data-scroll>
                                <span>Consulta</span>
                            </a>   
                            <a  [routerLink]="['/mapa-lancamentos']" class="list-group-item" data-scroll>
                                <span>Mapa</span>
                            </a>   
                        </div>
 
                        <a [routerLink]="['/dashboard']"  class="list-group-item" data-scroll>
                            Dashboard
                        </a>
                        
                        <a (click)="logout()" data-scroll  class="list-group-item disabled">
                                <span class="ponteiro-maozinha">Sair</span>
                        </a>    
                </div>            
        </nav>
    </div>

    <div id="page-content-wrapper">
        <div class="content-header">
            <h1 id="home" class="header borda-redonda">
                <div class="col col-md-6 col-lg-6 col-xs-12">
                    <a id="menu-toggle" class="glyphicon glyphicon-align-justify btn-menu toggle ponteiro-maozinha" onclick="toggleMenu(event)" >
                        <i class="fa fa-bars"></i>
                    </a>
                    <span class="nome-sistema">Sysfinanc VI</span>
                </div>
                <div class="col col-md-6 col-lg-6 col-xs-6">
                    <span class="detalhe-sistema">Sistema de Controle Financeiro</span>
                </div>
            </h1>
        </div>

        <div class="page-content inset" data-spy="scroll" data-target="#spy">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>
